html, body {
    height: 100%;
    margin: 0;
    font-family: "Comic Sans MS", serif;
    background-image: url("https://wallpapers.com/images/hd/beautiful-nature-pictures-2c29nke7owomq7la.jpg");
    background-size: cover;
    text-align: left;

}

button {
    background-color: mediumseagreen;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
    margin: 0px 10px 0px 10px;
    font-family: "Comic Sans MS", sans-serif;
    cursor: pointer;

}

button:hover {
    box-shadow: rgba(0, 0, 0, .80) 0 3px 9px 0;
    transform: translateY(-5px);
}

button:active {
    background-color: mediumseagreen;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    text-align: center;
    transition: transform 150ms, box-shadow 150ms;
}

#affichage {
    margin: 20px 25% 20px 25%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

#positionQuestion {
    color: blue;
}

fieldset {
    border: none;
}

label {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    vertical-align: top;
}

.bonneReponse {
    color: Green;
}
.bonneReponse:after {
    content: "✔"
}

.mauvaiseReponse {
    color: Red;
    font-weight: bold;
    text-decoration: line-through;
}

.mauvaiseReponse:after {
    content: "❌"
}

legend {

}